# пример файла .env
# Optionally use an anonymizing proxy (SOCKS/HTTPS) if you encounter Telegram access issues in your region
PROXY=None

TOKEN="0123456789:xyz"

FACE_PP_API_KEY="xxx"
FACE_PP_API_SECRET="yyy"
RAPID_API_KEY="zzz"