name: Checking linter and testing

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --quiet --requirement requirements.txt
          pip install pylint

      - uses: cardinalby/export-env-action@v1
        with:
          envFile: 'telegram_bot/dev.env'

      - name: Testing (unit-tests)
        run: python -m unittest

      - name: Analysing the code with pylint

        run: pylint --rcfile=.pylintrc $(find . -name "*.py" | xargs)
